<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778746725680-2uneggaq7oht87etrmi6qbsbmb7mm562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778746725680-2uneggaq7oht87etrmi6qbsbmb7mm562</string>
	<key>API_KEY</key>
	<string>AIzaSyA2GRtnfExKkvv_WOp4upcDezeelIm1-bg</string>
	<key>GCM_SENDER_ID</key>
	<string>778746725680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kul.boonanake.KulGym</string>
	<key>PROJECT_ID</key>
	<string>kulgym-fe2dc</string>
	<key>STORAGE_BUCKET</key>
	<string>kulgym-fe2dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:778746725680:ios:70aea1cddd996734aa34f5</string>
</dict>
</plist>
